name: Content Auto Bot (Final)

on:
  workflow_dispatch:
  schedule:
    - cron: '40 * * * *'

jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      
      - name: Install Libraries (Updated)
        # ЁЯСЗ ркЖ рк▓рк╛ркИрки рк╕рлМркерлА ркорк╣ркдрлНрк╡ркирлА ркЫрлЗ! ркЖркорк╛ркВ gdown рк╣рлЛрк╡рлБркВ ркЬ ркЬрлЛркИркП
        run: pip install gspread google-auth google-api-python-client oauth2client requests gdown tenacity

      - name: Run Master Bot
        env:
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
          YOUTUBE_TOKEN_JSON: ${{ secrets.YOUTUBE_TOKEN_JSON }}
          FB_ACCESS_TOKEN: ${{ secrets.FB_ACCESS_TOKEN }}
          SPREADSHEET_ID: '1Kdd01UAt5rz-9VYDhjFYL4Dh35gaofLipbsjyl8u8hY'
        run: python master_bot_final.py
