name: Content Auto Bot (Final)

on:
  workflow_dispatch:
  schedule:
    - cron: '40 * * * *'  # ркжрк░ ркХрк▓рк╛ркХрлЗ 40ркорлА ркорк┐ркирк┐ркЯрлЗ ркЪрк╛рк▓рк╢рлЗ

jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      
      - name: Install Libraries
        run: pip install gspread google-auth google-api-python-client oauth2client requests gdown tenacity

      - name: Run Master Bot
        env:
          GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
          FB_ACCESS_TOKEN: ${{ secrets.FB_ACCESS_TOKEN }}
          
          # ЁЯСЗ ркЖ рк░рк╣рлА ркЖрккркгрлА 4 ркЬрк╛ркжрлБркИ ркЪрк╛рк╡рлАркУ (Unlimited Uploads ркорк╛ркЯрлЗ)
          YOUTUBE_TOKEN_JSON: ${{ secrets.YOUTUBE_TOKEN_JSON }}
          YOUTUBE_TOKEN_2: ${{ secrets.YOUTUBE_TOKEN_2 }}
          YOUTUBE_TOKEN_3: ${{ secrets.YOUTUBE_TOKEN_3 }}
          YOUTUBE_TOKEN_4: ${{ secrets.YOUTUBE_TOKEN_4 }}
          
          # ЁЯСЗ Content Sheet ID (ркЖ ркдркорк╛рк░рлА Content Sheet ркирлА ID ркЫрлЗ)
          SPREADSHEET_ID: '1Kdd01UAt5rz-9VYDhjFYL4Dh35gaofLipbsjyl8u8hY'
        
        run: python master_bot_final.py
